.role
  border: 1px solid var(--role-color-rgba)
  border-radius: 32px
  box-sizing: border-box
  height: 32px
  padding: 4px
  display: inline-flex
  font-weight: 600
  align-content: center
  justify-content: center
  font-size: 16px
  vertical-align: baseline
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  transform: translateZ(0)
  margin: 0 6px 6px 0
  position: relative

  &.role__button

    .role__option
      &:hover
        cursor: inherit

    &:hover:not(.disabled)
      .role__option
        transform: translateY(-1px) translateZ(0px)
        box-shadow: 0 1px 1px var(--c-dark)
        border-color: var(--role-color-hover)
        background-color: transparent 
        &:active
          box-shadow: none
      &:active .role__option
        box-shadow: none

    &.disabled
      .role__option
        border-color: var(--c-7)
        transition: none
        transform: translateZ(0)
        &:hover
          cursor: default


  &__name
    margin-right: 6px
    max-width: 200px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    user-select: none

  &__option
    border-radius: 50%
    height: 22px
    margin-right: 6px
    width: 22px
    box-sizing: border-box
    /* display: inline-block */
    background-color: transparent
    overflow: hidden
    transform: translateZ(0)
    border: 1px solid var(--role-color-hex)
    transition: background-color 0.1s ease-in-out, border-left-width 0.3s ease-in-out, border-color 0.1s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-out
    &.selected        
      // This **must** be width-1, otherwise blink adds width to the boundaries.
      border-left-width: 21px 



  &.role__drag
    box-shadow: none
    &:hover, &.is-dragging
      transform: translateZ(0) translateY(-1px)
      box-shadow: 0 1px 2px rgba(0,0,0,0.3)
      background-color: rgba(#ccc,0.03)
      cursor: grab
    &:active
      cursor: grabbing
    
    &::after
      position: absolute
      top: -1px
      bottom: -1px
      left: -1px
      right: -1px
      border-radius: 32px
      background-color: var(--c-3)
      border: 2px dashed var(--c-7)
      content: ""
      opacity: 0
      transition: opacity 0.15s ease-in-out
      box-sizing: border-box

    &.is-dragging
      transition: border-color 0s ease-out 0.15s
      border-color: transparent
      &::after
        opacity: 1


.role__option:active, .role:active .role__option:not(:active)
  transform: translateY(0) translateZ(0px) !important  