.servers

  $fullH: calc(100vh - 180px)

  display: grid
  grid-template-rows: 100px $fullH
  grid-template-columns: 300px 1fr
  grid-template-areas: "user content" "listing content"


  &__nav
    grid-area: listing
    overflow: hidden
    // height: $fullH
  
  &__content
    background-color: var(--c-3)
    // padding: 15px
    grid-area: content
    position: relative
    // height: $fullH 
    overflow: hidden
    box-sizing: border-box

    .inner
      padding: 15px
