.user-card {
  position: relative;
  display: flex;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 1px solid var(--c-3);  
  padding: 25px 15px;
  grid-area: user;
}

.user-card__icon img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #5fc66d;
}

.user-card__info {
  padding: 0 10px;
  line-height: 50px
}

.user-card__info__discrim {
  font-weight: 100;
  font-size: 0.7rem;
  color: var(--c-7);
}

.user-card__info__name {
  /* font-size */
  /* font-weight: ; */
}

.user-card__actions {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card__actions polygon {
  fill: var(--c-7);
}