{
  "presets": [ ["@babel/preset-env", {
    "targets": {
      "node": true
    }
  }], "@babel/preset-flow" ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime",
      { "helpers": false }]
  ],
  "ignore": ["ui/**/*"]
}
