body {
  margin: 0;
  padding: 0;
  font-family: "source-han-sans-japanese", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans-serif {
  font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --c-white: #efefef;
  --c-9: #EBD6D4;
  --c-7: #ab9b9a;
  --c-5: #756867;
  --c-3: #5d5352;
  --c-1: #453e3d;
  --c-dark: #332d2d;
  --c-green: #46b646;
  --c-red: #e95353;
  --c-discord: #7289da;
}

::selection {
  background: var(--c-9);
  color: var(--c-1);
}

::-moz-selection {
  background: var(--c-9);
  color: var(--c-1);
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  color: var(--c-white);
  background-color: var(--c-1);
  overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--c-9);
}

.uk-navbar-nav>li>a {
  color: var(--c-7);
}

.fade-element {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade {
  opacity: 0;
}