.role-picker 
  transition: opacity 0.3s ease-in-out
  opacity: 1
  
  &.hidden 
    opacity: 0

  &__categories
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    flex-direction: row


  &__category
    // flex: 1 3 33%
    box-sizing: border-box
    background-color: var(--c-1)
    padding: 15px
    margin: 10px
    width: 220px - 30px